:root {
  --bg: rgba(23, 29, 47);
  --primary: rgba(3, 10, 31);
  --accent: #3498db;
  --danger: #e74c3c;
  --light: rgba(3, 10, 31);
  --text: #FFFFFF;
  --radius: 8px;
  --shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  --font: Roboto, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font);
  background-color: var(--bg);
  color: var(--text);
  margin: 0;
  padding: 0;
}

header, footer {
  background-color: var(--primary);
  color: white;
  padding: 1px 1rem;
  text-align: center;
}

header {
  text-align: center;
}

header h1 {
  color: white;
  text-decoration: none;
  font-weight: 10;
  letter-spacing: 0.5px;
  font-size: x-large;
  margin: 10;
}

header h1 a {
  color: white;
  text-decoration: none;
  font-weight: 10;
  letter-spacing: 0.5px;
  font-size: x-large;
  margin: 0;
}

header h1 a:hover{
    text-decoration: none;
}

.layout {
  display: flex;
  min-height: 80;
}

.sidebar {
  width: 350px;
  background-color: rgba(41,47,64);
  color: white;
  padding: 0.5rem 1rem;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.05);
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 1rem;
  text-align: left;
  margin-left: 0.5rem;
}

.sidebar a {
  color: white;
  text-decoration: none;
  font-weight: 10;
}

.sidebar a:hover {
  text-decoration: underline;
}

.content {
  flex: 1;
  padding: 0.5rem 2rem;
}

main {
  min-height: 85vh;
  max-width: unset;
  margin: 0;
  background: var(--bg);
  border-radius: 0;
  box-shadow: none;
}


h2 {
  color: var(--text);
  margin-bottom: 1.2rem;
  font-weight: lighter;
}

h3 {
  color: var(--text);
  margin-bottom: 0 rem;
  font-weight: lighter;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

table thead {
  background-color: var(--light);
}

hr {
  border: none;
  height: 1px;
  background-color: rgba(91, 97, 119);
  margin: 1rem 0;
}

table th, table td {
  padding: 12px;
  border-bottom: 1px solid #ccc;
  text-align: left;
  font-weight: 10;
}

table tr:hover {
  background-color: rgba(23, 29, 47, 0.5);
}

form label {
  display: block;
  margin-bottom: 12px;
  font-weight: 500;
}

form input[type="text"], form input[type="number"],select, #search {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: var(--radius);
  background-color: var(--bg);
  color: var(--text)
}

button {
  padding: 10px 16px;
  background-color: var(--accent);
  color: white;
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #2980b9;
}

a {
  color: var(--accent);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.actions a {
  margin-right: 10px;
}

.actions a:last-child {
  color: var(--danger);
}

canvas {
  max-width: 40%;
  max-height: 350px;
  height: auto;
}

.linecharts {
  max-width: 50%;
}

.linecharts canvas {
  max-width: 100% !important;
}

.charts {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#priceChart {
  max-width: 100% !important;
}

