<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{% block title %}Stock Manager{% endblock %}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/styles.css">
</head>

<body>

  <header>
    <div class="neon-wrapper">
      <a href="/stocks"><img class="logoimg" src="/static/f4logo_removed_bg.png" alt="Fantastic 4 Logo" class="logo"></a>
    </div>
    <div class="container">
      <div class="title-container">
        {% block header_title %}
        <h1 class="title"><a href="/stocks">Stock Manager</a></h1>
        {% endblock %}
      </div>
    </div>
  </header>

  <div class="layout">
    <nav class="sidebar">
      {% include "sidebar.html" %}
    </nav>

    <main class="content">
      {% block content %}{% endblock %}
    </main>
  </div>

  <footer>
    <div class="container">
      <p>&copy; 2025 - Fantastic 4 <br>All rights reserved.</p>
    </div>
  </footer>

</body>

</html>