{% block content %}
  

  <div class="main-content">
    <h3>Manage Portfolio</h3>

    <ul class="portfolio-nav">
       <li><a href="/overview">Overview</a></li>
        <li><a href="/stocks/create">Buy Stocks</a></li>
        <li><a href="/stocks/sell">Sell Stocks</a></li>
        <li><a href="/single_chartoverview">View Individual Stock</a></li>
    </ul>
    <hr>
  
    <table id="myPortfolio">
        <tr>
            <th>Symbol</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>

        <thead>
        <tbody>
            {% for entry in portfolio_data %}
            <tr>
                <td>{{ entry[1] }}</td>
                <td>{{ '%0.2f'| format(entry[2]|float) }}</td>
                <td>{{ entry[3] | int }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </thead>
    </table>
  <script>
      const maxRows =5;
      const table = document.getElementById("myPortfolio")
      const rows = table.tBodies[0].rows
      for (let i = maxRows; i<rows.length; i++){
          rows[i].style.display = "none";
      }
  </script>
  </div>

 


{% endblock %}